* {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
}
body {
  background-image: url("img/1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  text-shadow: 5px 5px 10px black;
  text-align: center;
  color: white;
  font-size: 64px;
}

.section_area_grid {
  margin-bottom: 15px;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

form {
  flex-direction: column;
  width: 30%;
  margin: auto auto;
  padding: 15px;
  /*เป็นการสร้างบล็อกหน้าล็อกอิน*/
  background-color: aliceblue;
  width: 1340px;
  height: 680px;
  /*เป็นกำหนดค่าให้อยู่กึ่งกลาง*/
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*เป็นการเเสดงหน้าล็อกอินให้เบลอ*/
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
  border-radius: 24px;
}

h1 {
  font-weight: 200;
  font-size: 2.2rem;
  color: #929292;
  text-align: center;
}

.img img {
  margin: 15px;
  align-items: center;
  width: 500px;
  height: 425px;
  border-radius: 65px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
}

nav {
  border-radius: 10px;
  margin: 0 auto 0 auto;
  max-width: 720px;
  background: #676767;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
  border-radius: 24px;
}

nav::after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  font-size: 16px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  padding: 24px 48px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
  background: rgba(0, 0, 0, 0.15);
}

nav ul li a:focus {
  color: white;
}

nav ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  background: transparent;
  color: #a3a3a3;
  border-bottom: 1px solid #dde0e7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
  background: #eee;
  color: #111;
}

footer {
  color: #555;
  font-size: 12px;
  margin-top: 2em;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

#dropbtn {
  width: inherit;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

#mytable {
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dropdown-content {
  text-align: right;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  /* width: 50%; */
  margin: 0px 20px;
  color: white;
  padding: 10px;
  font-size: 24px;
}