* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-image: url("img/wallpaper-6524635.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section_area_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section_area_grid input {
  float: left;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 0px;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(255, 255, 255, 0.26);
}

.section_area_grid label {
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  width: 50%;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.name {
  margin: 0 10px 0 0;
}

form {
  margin: auto auto;
  padding: 20px;
  /*เป็นการสร้างบล็อกหน้าล็อกอิน*/
  width: 400px;
  /*เป็นกำหนดค่าให้อยู่กึ่งกลาง*/
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  /*เป็นการเเสดงหน้าล็อกอินให้เบลอ*/
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
  border-radius: 2rem;
}

.font {
  color: rgb(255, 255, 255);
  text-align: center;
}

.homeheader {
  text-align: center;
  font-size: 5rem;
}

.homecontent {
  text-align: center;
  padding-top: 3rem;
  width: 100%;
  background: #ccc;
  height: 100vh;
}

.input-group label {
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  width: 50%;
  text-align: center;
}

.input-group input {
  float: left;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 0px;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(255, 255, 255, 0.26);
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  color: #a94442;
  border-radius: 5px;
  text-align: center;
}
.success {
  color: #3c763d;
  background: #dff9d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

button {
  padding: 20px 50px;
  font-size: 20px;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  text-align: center;
  display: block;
  margin: auto;
  /*top: 15px;*/
}

.btn:hover {
  color: #fff;
}
.btn:hover::after {
  transform: scale(1);
  opacity: 1;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(0.1);
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease;
}
