* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-image: url("img/wallpaper-6524635.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img {
  transform: translate(0%, 0%);
  width: 154px;
  height: 154px;
  display: block;
  margin: auto auto;
  display: block;
  margin-top: 15px;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

form {
  width: 30%;
  margin: auto auto;
  padding: 20px;
  /*เป็นการสร้างบล็อกหน้าล็อกอิน*/
  background-color: aliceblue;
  width: 400px;
  /*เป็นกำหนดค่าให้อยู่กึ่งกลาง*/
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*เป็นการเเสดงหน้าล็อกอินให้เบลอ*/
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
  border-radius: 2rem;
}

.footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  color: white;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
}

.font {
  color: rgb(255, 255, 255);
  text-align: center;
}

.homeheader {
  text-align: center;
  font-size: 5rem;
}

.homecontent {
  text-align: center;
  padding-top: 3rem;
  width: 100%;
  background: #ccc;
  height: 100vh;
}

.form-control {
  position: relative;
  margin: 20px 0px 20px;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #c8c8c8;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: white;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.59);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.59);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: white;
  -webkit-transition: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  font-size: 16px;
  color: #e33330;
  border-radius: 5px;
  text-align: center;
}
.success {
  color: #3c763d;
  background: #dff9d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  width: 50%;
  text-align: center;
}

.input-group input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 0px;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(255, 255, 255, 0.26);
}

button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.25s ease;
  text-align: center;
  display: block;
  margin: auto;
  /*top: 15px;*/
}

.btn:hover {
  color: #fff;
}
.btn:hover::after {
  transform: scale(1);
  opacity: 1;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(0.1);
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease;
}
