* {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
}
body {
  background-image: url("img/wallpaper-6524635.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  width: 500px;
  text-shadow: 5px 5px 10px black;
  color: white;
  font-size: 64px;
  text-align: center;
}

.section_area_grid {
  margin-bottom: 15px;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn-dlt {
  font-size: 20px;
  border-radius: 10px;
  padding: 6px;
  font-size: 20px;
}

h1 {
  font-weight: 200;
  font-size: 2.2rem;
  color: #929292;
  text-align: center;
}

.menu-main {
  flex-direction: column;
  width: 10%;
  margin: auto auto;
  padding: 10px;
  /*เป็นการสร้างบล็อกหน้าล็อกอิน*/
  background-color: aliceblue;
  /*width: 1340px;*/
  height: 1280px;
  /*เป็นกำหนดค่าให้อยู่กึ่งกลาง*/
  display: block;
  position: fixed;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*เป็นการเเสดงหน้าล็อกอินให้เบลอ*/
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
}

.nav-user {
  flex-direction: column;
    width: 30%;
    margin: auto auto;
    padding: 15px;
    background-color: aliceblue;
    width: 1340px;
    height: 680px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    background-color: rgba(218, 218, 218, 0.219);
    border-radius: 24px;
}

.column {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: center;
}

.bon {
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);
  border-radius: 50px;
  text-align: center;
  padding: 50px;
  margin: 30px;
  display: grid;
  align-items: start;
  justify-items: center;
  box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
}

.balance {
  width: 75%;
  background-color: #e3e3e3;
  border: 1px solid #676767;
  border-radius: 15px;
  font-family: "Ruluko", sans-serif;
  font-size: 50px;
  margin: 5px;
  padding: 24px 24px;
}
nav.nav-logout {
    display: block;
}

nav {
  border-radius: 10px;
  margin: 0 auto 0 auto;
  max-width: 720px;
  /*background: #676767;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(5px);
  background-color: rgba(218, 218, 218, 0.219);*/
}

nav::after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

div.menu-main ul li a {
  text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

ul.ul-menu {
  display: grid;
    align-content: center;
    justify-items: stretch;
    align-items: center;
}

.bon label {
  text-shadow: 5px 3px 4px black;
  font-size: 24px;
  color: white;
}

footer {
  color: #555;
  font-size: 12px;
  margin-top: 13.5em;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

#dropbtn {
  width: inherit;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: right;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  /* width: 50%; */
  margin: 0px 20px;
  color: white;
  padding: 10px;
  font-size: 20px;
}
